{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <div class="block">
            <h1 class="welcome">Welcome to WebRover</h1>
            <div class="links">
                <a href="https://packagist.org/packages/webrover/skeleton" target="_blank">Packagist</a>
                <a href="https://github.com/cts-team/WebRoverSkeleton" target="_blank">Github</a>
            </div>
        </div>
    </div>
{% endblock %}